<nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
    <div class="[ container ]">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="[ navbar-header ]">
            <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="[ sr-only ]">Toggle navigation</span>
                <span class="[ icon-bar ]"><a *ngIf="_authService.isLogged()" href={{url}} class="[ animate ]">Profile</a></span>
                <span class="[ icon-bar ]"><a  class="animate" href="/create">Create a lobby</a></span>
                <span class="[ icon-bar ]"><a *ngIf="!_authService.isLogged()" class="animate" href="/register">Register</a></span>
                <span class="[ icon-bar ]"><a *ngIf="!_authService.isLogged()" class="animate" href="/login">Login</a></span>
                <span class="[ icon-bar ]"><a class="animate" *ngIf="_authService.isLogged()" (click)="_authService.logoutUser()" style="cursor: pointer">Logout</a></span>
            </button>
            <div class="[ animbrand ]">
                <a class="[ navbar-brand ][ animate ]" href="/">Carder</a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
            <ul class="[ nav navbar-nav navbar-right ]">
                <li><a class="[ animate ]" *ngIf="_authService.isLogged()">Hello, {{user.username}}!</a></li>
                <li><a *ngIf="_authService.isLogged()" href={{url}} class="[ animate ]">Profile</a></li>
                <li><a  class="animate" href="/create">Create a lobby</a></li>
                <li><a *ngIf="!_authService.isLogged()" class="animate" href="/register">Register</a></li>
                <li><a *ngIf="!_authService.isLogged()" class="animate" href="/login">Login</a></li>
                <li><a class="animate" *ngIf="_authService.isLogged()" (click)="_authService.logoutUser()" style="cursor: pointer">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
