img {width:100%;}
.car-image-block {padding:0px;margin:0px;}
.car-image-block img {min-height: 200px; overflow: hidden;}

.cars-horizon{
    position: fixed;
    top: 150px;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.cars-horizon p{
    font-size: 100px;
    color: red;
    position: relative;
    text-align: center;
}
.container{
    overflow-y: auto;
}